.main-container {
    min-width: 600px;
    text-align: center;
    height: 80vh;
    box-shadow: inset 2px 2px 10px -5px rgba(66, 68, 90, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}